/*
	Reset Selector - don't remove this!
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=Oswald:wght@500;600;700&family=Raleway:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link,
a:visited {
  color: rgb(30, 42, 211);
  text-decoration: none;
}

a:focus,
a:hover {
  background-color: #ffffff;
  border-radius: 5px;
  text-decoration: underline;
  transition-duration: 0.2s;
  transition-property: background;
}

body {
  font-size: 20px;
  line-height: 140%;
  background: #00478a; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #00478a 0%,
    #dfff80 25%,
    #2989d8 53%,
    #dfff80 75%,
    #00478a 93%,
    #00478a 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #00478a 0%,
    #dfff80 25%,
    #2989d8 53%,
    #dfff80 75%,
    #00478a 93%,
    #00478a 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #00478a 0%,
    #dfff80 25%,
    #2989d8 53%,
    #dfff80 75%,
    #00478a 93%,
    #00478a 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00478a', endColorstr='#00478a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  line-height: 145%;
  letter-spacing: 10px;
  margin-bottom: 3rem;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
}

h3 {
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2.25rem;
}

header {
  margin-top: 3rem;
}

main {
  margin: 1rem;
  padding: 1rem;
  border: 4px double rgb(0, 0, 0);
}

p {
  text-indent: 2rem;
  width: 36em;
  margin-left: 18em;
}

#intro,
#influence,
#how-does-it-work,
#joke {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
