/*
	Reset Selector - don't remove this!
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=Oswald:wght@500;600;700&family=Raleway:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link,
a:visited {
  color: blue;
  text-decoration: none;
}

a:focus,
a:hover {
  background-color: #ddddff;
  border-radius: 5px;
  text-decoration: underline;
  transition-duration: 0.2s;
  transition-property: background;
}

body {
  font-size: 20px;
  line-height: 135%;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 3rem;
  line-height: 145%;
}

h1 {
  font-weight: 700;
  margin: 1.75rem;
}

h2 {
  font-weight: 600;
  margin: 1.5rem;
}

h3 {
  font-weight: 500;
  margin: 1.25rem;
}

header {
}

main {
}

p {
  text-indent: 4rem;
  width: 36em;
  margin-left: 20em;
}

#intro {
}

#how-does-it-work,
#influence,
#joke {
}
